.generate {
  height: 20em;
  width: 10em;
  text-align: center;
  align-self: center;
}
.nba-logo {
  height: 100%;
  width: 100%;
}
ul {
  list-style: none;
}
.player-picture {
  display: flex;
  flex-wrap: nowrap;
  /* border: 5px black solid; */
  height: 15em;
  width: 20em;
}
img {
  height: 100%;
  width: 100%;
}
h3 {
  text-align: center;
}
hr {
  display: block;
  border: .5px solid black;
  width: 80%;
}
.next {
  height: 8em;
  width: 8em;
  border-radius: 20%;
  border: 5px black solid;
  background: #ED174C;
  text-align: center;
}
.previous {
  height: 8em;
  width: 8em;
  border-radius: 20%;
  border: 5px black solid;
  background: #006BB6;
  text-align: center;
}
.top {
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
}
.middle {
  display: flex;
  justify-content: center;
  /* border: 1px black solid; */
}
.name-display {
  display: flex;
  justify-content: center;
  height: 2em;
  /* border: 1px black solid; */
}
.buttons {
  display: flex;
  justify-content: space-around;
  /* border: 1px black solid; */
}
li {
  font-family: 'Cute Font', cursive;
}
body {
  background: white;
}
.h4 {
  display: flex;
  text-align: center;
  font-size: 10%;
  /* border: 1px black solid; */
}


@media (min-width: 600px) {
  body {
    background: #FFF5C3;
  }
  .h4 {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 1em;
    /* border: 5px black solid; */
  }
}
